.chat__inner {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  &__input {
    width: 360px;
    height: 40px;
    padding: 5px;
    border: 3px solid $color-blue-light;
    outline-color: $color-blue;
    outline-width: 2px;
    background-color: $color-white;
    font-size: 16px;
  }
  &__btn {
    width: 120px;
    height: 40px;
    margin-left: 10px;
    padding: 5px 5px;
    box-shadow: $box-shadow;
    background-color: $color-blue-light;
    border: 5px solid $color-blue-light;
  }
  &__btn:hover {
    color: $color-grey;
    background-color: $color-white;
  }
}

.field {
  width: 620px;
  min-height: 400px;
  margin-top: 10px;
  box-shadow: $box-shadow;
  border: 5px solid $color-blue-light;
  background-image: url("../images/background-chat.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  &__inner {
    margin: 5px 0px 15px;
  }
  &-text {
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: $color-white;
    padding: 5px;
    padding-top: 12px;
  }
  &-client {
    margin-left: 340px;
    width: 250px;
    min-height: 50px;
    border: 4px solid $color-blue-light;
    border-radius: 10px;
    word-wrap: break-word;
    text-align: center;
  }
  &-server {
    margin-right: 340px;
    width: 250px;
    min-height: 50px;
    border: 4px solid rgb(150, 195, 255);
    border-radius: 10px;
    word-wrap: break-word;
    text-align: center;
  }
}

.output {
  display: flex;
  flex-direction: column;
}